/*------------------------------------*\
  Index view
\*------------------------------------*/

.wf-loading {
  font-family: sans-serif;
  font-weight: 400;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.wf-josefinsans-n1-active,
.wf-josefinsans-n3-active,
.wf-josefinsans-n4-active
.wf-active {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  visibility: visible;
  -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: $ablack;
  color: $awhite;
}

h1 {
  font-weight: normal;
}

.awlka-logo {
  display: block;
  margin: auto;
}

.what-we-do,
.coming-soon {
  text-transform: uppercase;
}

.coming-soon {
  @include font-size(3);
  margin: 0 0 80px 0;
}

.what-we-do {
  @include font-size(1.2);
  margin: 30px 0 70px 0;
}

.more-info {
  @include font-size(1.6);
  a {
    text-decoration: none;
    color: inherit;
  }
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 30px;
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}