/*------------------------------------*\
  Index view
\*------------------------------------*/

.wf-loading {
  font-family: sans-serif;
  font-weight: 400;
  visibility: hidden;
}

.wf-josefinsans-n1-active,
.wf-josefinsans-n3-active,
.wf-josefinsans-n4-active
.wf-active {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  visibility: visible;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  background: $ablack;
  color: $awhite;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

.coming-soon {
  font-weight: 100;
  @include font-size(3);
  text-transform: uppercase;
}

.awlka-logo {
  display: block;
  margin: auto;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 30px;
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}