/*------------------------------------*\
  Index view
\*------------------------------------*/

.wf-loading {
  font-family: sans-serif;
  visibility: hidden;
}

.wf-proximanova-i4-active,
.wf-proximanova-i7-active,
.wf-proximanova-n3-active,
.wf-proximanova-n4-active,
.wf-proximanova-n7-active
.wf-active {
  font-family: "proxima-nova", sans-serif;
  visibility: visible;
}

body {
  font-weight: 400;
  background: $ablack;
  color: $awhite;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 30px;
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}